thead, tbody {
  display: block;
}
tbody {
  overflow-x: hidden;
  overflow-y: auto;
}
#kif_table {
  text-align: center;
  max-height: 300px;
  max-inline-size: fit-content;
  margin-left: auto;
  margin-right: auto;
}
/* th, td {
  width: 100px;
} */
