<ul class="mochigoma-list" id="gote_mochi" >
  <li class="mochigoma">
    <div><img src="static/img/koma/vfu.png"/><p>0</p></div>
  </li>
  <li class="mochigoma">
    <div><img src="static/img/koma/vky.png"/><p>0</p></div>
  </li>
  <li class="mochigoma">
    <div><img src="static/img/koma/vke.png"/><p>0</p></div>
  </li>
  <li class="mochigoma">
    <div><img src="static/img/koma/vgi.png"/><p>0</p></div>
  </li>
  <li class="mochigoma">
    <div><img src="static/img/koma/vki.png"/><p>0</p></div>
  </li>
  <li class="mochigoma">
    <div><img src="static/img/koma/vka.png"/><p>0</p></div>
  </li>
  <li class="mochigoma">
    <div><img src="static/img/koma/vhi.png"/><p>0</p></div>
  </li>
</ul>
<table id="board_koma" align="center" width="93.5%" height="100%" border="1" cellspacing="0" bordercolor="#000000">
  <tr align="center" >
    <td><img src="static/img/koma/vky.png"/></td>
    <td><img src="static/img/koma/vke.png"/></td>
    <td><img src="static/img/koma/vgi.png"/></td>
    <td><img src="static/img/koma/vki.png"/></td>
    <td><img src="static/img/koma/vou.png"/></td>
    <td><img src="static/img/koma/vki.png"/></td>
    <td><img src="static/img/koma/vgi.png"/></td>
    <td><img src="static/img/koma/vke.png"/></td>
    <td><img src="static/img/koma/vky.png"/></td>
  </tr>
  <tr align="center" >
    <td><img src="static/img/koma/_.png"/></td>
    <td><img src="static/img/koma/vhi.png"/></td>
    <td><img src="static/img/koma/_.png"/></td>
    <td><img src="static/img/koma/_.png"/></td>
    <td><img src="static/img/koma/_.png"/></td>
    <td><img src="static/img/koma/_.png"/></td>
    <td><img src="static/img/koma/_.png"/></td>
    <td><img src="static/img/koma/vka.png"/></td>
    <td><img src="static/img/koma/_.png"/></td>
  </tr>
  <tr align="center" >
    <td><img src="static/img/koma/vfu.png"/></td>
    <td><img src="static/img/koma/vfu.png"/></td>
    <td><img src="static/img/koma/vfu.png"/></td>
    <td><img src="static/img/koma/vfu.png"/></td>
    <td><img src="static/img/koma/vfu.png"/></td>
    <td><img src="static/img/koma/vfu.png"/></td>
    <td><img src="static/img/koma/vfu.png"/></td>
    <td><img src="static/img/koma/vfu.png"/></td>
    <td><img src="static/img/koma/vfu.png"/></td>
  </tr>
  <tr align="center" >
    <td><img src="static/img/koma/_.png"/></td>
    <td><img src="static/img/koma/_.png"/></td>
    <td><img src="static/img/koma/_.png"/></td>
    <td><img src="static/img/koma/_.png"/></td>
    <td><img src="static/img/koma/_.png"/></td>
    <td><img src="static/img/koma/_.png"/></td>
    <td><img src="static/img/koma/_.png"/></td>
    <td><img src="static/img/koma/_.png"/></td>
    <td><img src="static/img/koma/_.png"/></td>
  </tr>
  <tr align="center" >
    <td><img src="static/img/koma/_.png"/></td>
    <td><img src="static/img/koma/_.png"/></td>
    <td><img src="static/img/koma/_.png"/></td>
    <td><img src="static/img/koma/_.png"/></td>
    <td><img src="static/img/koma/_.png"/></td>
    <td><img src="static/img/koma/_.png"/></td>
    <td><img src="static/img/koma/_.png"/></td>
    <td><img src="static/img/koma/_.png"/></td>
    <td><img src="static/img/koma/_.png"/></td>
  </tr>
  <tr align="center" >
    <td><img src="static/img/koma/_.png"/></td>
    <td><img src="static/img/koma/_.png"/></td>
    <td><img src="static/img/koma/_.png"/></td>
    <td><img src="static/img/koma/_.png"/></td>
    <td><img src="static/img/koma/_.png"/></td>
    <td><img src="static/img/koma/_.png"/></td>
    <td><img src="static/img/koma/_.png"/></td>
    <td><img src="static/img/koma/_.png"/></td>
    <td><img src="static/img/koma/_.png"/></td>
  </tr>
  <tr align="center" >
    <td><img src="static/img/koma/fu.png"/></td>
    <td><img src="static/img/koma/fu.png"/></td>
    <td><img src="static/img/koma/fu.png"/></td>
    <td><img src="static/img/koma/fu.png"/></td>
    <td><img src="static/img/koma/fu.png"/></td>
    <td><img src="static/img/koma/fu.png"/></td>
    <td><img src="static/img/koma/fu.png"/></td>
    <td><img src="static/img/koma/fu.png"/></td>
    <td><img src="static/img/koma/fu.png"/></td>
  </tr>
  <tr align="center" >
    <td><img src="static/img/koma/_.png"/></td>
    <td><img src="static/img/koma/ka.png"/></td>
    <td><img src="static/img/koma/_.png"/></td>
    <td><img src="static/img/koma/_.png"/></td>
    <td><img src="static/img/koma/_.png"/></td>
    <td><img src="static/img/koma/_.png"/></td>
    <td><img src="static/img/koma/_.png"/></td>
    <td><img src="static/img/koma/hi.png"/></td>
    <td><img src="static/img/koma/_.png"/></td>
  </tr>
  <tr align="center" >
    <td><img src="static/img/koma/ky.png"/></td>
    <td><img src="static/img/koma/ke.png"/></td>
    <td><img src="static/img/koma/gi.png"/></td>
    <td><img src="static/img/koma/ki.png"/></td>
    <td><img src="static/img/koma/ou.png"/></td>
    <td><img src="static/img/koma/ki.png"/></td>
    <td><img src="static/img/koma/gi.png"/></td>
    <td><img src="static/img/koma/ke.png"/></td>
    <td><img src="static/img/koma/ky.png"/></td>
  </tr>
</table>
<ul class="mochigoma-list" id="sente_mochi">
  <li class="mochigoma">
    <div><img src="static/img/koma/fu.png"/><p>0</p></div>
  </li>
  <li class="mochigoma">
    <div><img src="static/img/koma/ky.png"/><p>0</p></div>
  </li>
  <li class="mochigoma">
    <div><img src="static/img/koma/ke.png"/><p>0</p></div>
  </li>
  <li class="mochigoma">
    <div><img src="static/img/koma/gi.png"/><p>0</p></div>
  </li>
  <li class="mochigoma">
    <div><img src="static/img/koma/ki.png"/><p>0</p></div>
  </li>
  <li class="mochigoma">
    <div><img src="static/img/koma/ka.png"/><p>0</p></div>
  </li>
  <li class="mochigoma">
    <div><img src="static/img/koma/hi.png"/><p>0</p></div>
  </li>
</ul>
