<ul class="mochigoma-list" id="gote_mochi" >
  <li class="mochigoma">
    <div><img src="img/koma/v歩.png"/><p>0</p></div>
  </li>
  <li class="mochigoma">
    <div><img src="img/koma/v香.png"/><p>0</p></div>
  </li>
  <li class="mochigoma">
    <div><img src="img/koma/v桂.png"/><p>0</p></div>
  </li>
  <li class="mochigoma">
    <div><img src="img/koma/v銀.png"/><p>0</p></div>
  </li>
  <li class="mochigoma">
    <div><img src="img/koma/v金.png"/><p>0</p></div>
  </li>
  <li class="mochigoma">
    <div><img src="img/koma/v角.png"/><p>0</p></div>
  </li>
  <li class="mochigoma">
    <div><img src="img/koma/v飛.png"/><p>0</p></div>
  </li>
</ul>
<table id="board_koma" align="center" width="93.5%" height="100%" border="1" cellspacing="0" bordercolor="#000000">
  <tr align="center" >
    <td><img src="img/koma/v香.png"/></td>
    <td><img src="img/koma/v桂.png"/></td>
    <td><img src="img/koma/v銀.png"/></td>
    <td><img src="img/koma/v金.png"/></td>
    <td><img src="img/koma/v玉.png"/></td>
    <td><img src="img/koma/v金.png"/></td>
    <td><img src="img/koma/v銀.png"/></td>
    <td><img src="img/koma/v桂.png"/></td>
    <td><img src="img/koma/v香.png"/></td>
  </tr>
  <tr align="center" >
    <td><img src="img/koma/・.png"/></td>
    <td><img src="img/koma/v飛.png"/></td>
    <td><img src="img/koma/・.png"/></td>
    <td><img src="img/koma/・.png"/></td>
    <td><img src="img/koma/・.png"/></td>
    <td><img src="img/koma/・.png"/></td>
    <td><img src="img/koma/・.png"/></td>
    <td><img src="img/koma/v角.png"/></td>
    <td><img src="img/koma/・.png"/></td>
  </tr>
  <tr align="center" >
    <td><img src="img/koma/v歩.png"/></td>
    <td><img src="img/koma/v歩.png"/></td>
    <td><img src="img/koma/v歩.png"/></td>
    <td><img src="img/koma/v歩.png"/></td>
    <td><img src="img/koma/v歩.png"/></td>
    <td><img src="img/koma/v歩.png"/></td>
    <td><img src="img/koma/v歩.png"/></td>
    <td><img src="img/koma/v歩.png"/></td>
    <td><img src="img/koma/v歩.png"/></td>
  </tr>
  <tr align="center" >
    <td><img src="img/koma/・.png"/></td>
    <td><img src="img/koma/・.png"/></td>
    <td><img src="img/koma/・.png"/></td>
    <td><img src="img/koma/・.png"/></td>
    <td><img src="img/koma/・.png"/></td>
    <td><img src="img/koma/・.png"/></td>
    <td><img src="img/koma/・.png"/></td>
    <td><img src="img/koma/・.png"/></td>
    <td><img src="img/koma/・.png"/></td>
  </tr>
  <tr align="center" >
    <td><img src="img/koma/・.png"/></td>
    <td><img src="img/koma/・.png"/></td>
    <td><img src="img/koma/・.png"/></td>
    <td><img src="img/koma/・.png"/></td>
    <td><img src="img/koma/・.png"/></td>
    <td><img src="img/koma/・.png"/></td>
    <td><img src="img/koma/・.png"/></td>
    <td><img src="img/koma/・.png"/></td>
    <td><img src="img/koma/・.png"/></td>
  </tr>
  <tr align="center" >
    <td><img src="img/koma/・.png"/></td>
    <td><img src="img/koma/・.png"/></td>
    <td><img src="img/koma/・.png"/></td>
    <td><img src="img/koma/・.png"/></td>
    <td><img src="img/koma/・.png"/></td>
    <td><img src="img/koma/・.png"/></td>
    <td><img src="img/koma/・.png"/></td>
    <td><img src="img/koma/・.png"/></td>
    <td><img src="img/koma/・.png"/></td>
  </tr>
  <tr align="center" >
    <td><img src="img/koma/歩.png"/></td>
    <td><img src="img/koma/歩.png"/></td>
    <td><img src="img/koma/歩.png"/></td>
    <td><img src="img/koma/歩.png"/></td>
    <td><img src="img/koma/歩.png"/></td>
    <td><img src="img/koma/歩.png"/></td>
    <td><img src="img/koma/歩.png"/></td>
    <td><img src="img/koma/歩.png"/></td>
    <td><img src="img/koma/歩.png"/></td>
  </tr>
  <tr align="center" >
    <td><img src="img/koma/・.png"/></td>
    <td><img src="img/koma/角.png"/></td>
    <td><img src="img/koma/・.png"/></td>
    <td><img src="img/koma/・.png"/></td>
    <td><img src="img/koma/・.png"/></td>
    <td><img src="img/koma/・.png"/></td>
    <td><img src="img/koma/・.png"/></td>
    <td><img src="img/koma/飛.png"/></td>
    <td><img src="img/koma/・.png"/></td>
  </tr>
  <tr align="center" >
    <td><img src="img/koma/香.png"/></td>
    <td><img src="img/koma/桂.png"/></td>
    <td><img src="img/koma/銀.png"/></td>
    <td><img src="img/koma/金.png"/></td>
    <td><img src="img/koma/玉.png"/></td>
    <td><img src="img/koma/金.png"/></td>
    <td><img src="img/koma/銀.png"/></td>
    <td><img src="img/koma/桂.png"/></td>
    <td><img src="img/koma/香.png"/></td>
  </tr>
</table>
<ul class="mochigoma-list" id="sente_mochi">
  <li class="mochigoma">
    <div><img src="img/koma/歩.png"/><p>0</p></div>
  </li>
  <li class="mochigoma">
    <div><img src="img/koma/香.png"/><p>0</p></div>
  </li>
  <li class="mochigoma">
    <div><img src="img/koma/桂.png"/><p>0</p></div>
  </li>
  <li class="mochigoma">
    <div><img src="img/koma/銀.png"/><p>0</p></div>
  </li>
  <li class="mochigoma">
    <div><img src="img/koma/金.png"/><p>0</p></div>
  </li>
  <li class="mochigoma">
    <div><img src="img/koma/角.png"/><p>0</p></div>
  </li>
  <li class="mochigoma">
    <div><img src="img/koma/飛.png"/><p>0</p></div>
  </li>
</ul>
